/*웹폰트-배민 연성체*/
@font-face {
    font-family: 'BMYEONSUNG';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/*웹폰트-배민 도현체*/
@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*초기설정*/
* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/*올영픽*/
#pick_bg {
    width: 100%; height: 100%;
    background: rgba(0,0,0,0.8);
    position: fixed;
    z-index: 99999999;

    display: none;
}
#pick_bg div.pick {
    width: 612px;

    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
#pick_bg div.pick p {
    text-align: right;
    cursor: pointer;
    padding: 10px;
    color:#fff; font-size: 30px;
    font-family: 'BMYEONSUNG';
}


/*레이아웃*/
#wrap_top {
    width: 100%;
    height: 100px;
    background: #82e9e8;
}

#top {
    width: 1020px;
    height: 100px;

    margin: 0 auto;
    text-align: center;

    position: relative;
}

#top p.txt1 {
    background: #035b4f;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 30px;

    margin-top: 10px;

    font-family: 'BMDOHYEON';
    color: #fff;
    font-size: 16px;
    letter-spacing: -1px;
}

#top p.txt1 span {
    color: #ff0;
}

#top p.txt2 {
    padding-top: 5px;

    font-family: 'BMDOHYEON';
    color: #fff;
    font-size: 36px;
    letter-spacing: 2px;
}

#top p.txt2 span {
    font-family: 'Brush Script Std';
    color: #f4f8ae;
    font-weight: bold;
    font-size: 42px;
}

#top p.logo1 {
    position: absolute;
    left: 20px;
    top: 5px;
}

#top p.logo2 {
    position: absolute;
    right: 0px;
    bottom: -4px;
}

/*로고영역*/
#header {
    width: 1020px;
    height: 130px;
    margin: 0 auto;
}

#header h2 {
    display: inline-block;
    vertical-align: middle;
}

#header input[type="search"] {
    margin-left: 100px;

    width: 340px;
    height: 40px;
    background: #fff;
    border: 2px solid #9acd28;
    border-radius: 20px;

    box-sizing: border-box;
    padding-left: 20px;
    font-size: 14px;
    letter-spacing: -1px;
}

::placeholder {
    color: #777;
}

#header select {
    margin-left: 65px;

    width: 240px;
    height: 40px;
    border: 1px solid #ddd;
    font-size: 14px;
    letter-spacing: -1px;
}

#header select option {
    color: #777;
}

/*메뉴영역*/
#wrap_nav {
    width: 100%;
    height: 45px;
    background: #fff;
    border-top: 1px solid #ddd;
    border-bottom: 2px solid #333;

    position: sticky;
    top:0;
    z-index: 99999;
}

#nav {
    width: 1020px;
    height: 45px;
    line-height: 45px;


    margin: 0 auto;
}

#nav>ul>li {
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;

    position: relative;
}

#nav>ul>li>a {
    color: #333;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
}

#nav>ul>li:hover>a {
    color: #f47473;
    text-decoration: underline;
}


#nav>ul>li:first-child {
    width: 145px;
    height: 45px;
    text-align: center;

    margin: 0;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    box-sizing: border-box;
}

/*서브메뉴*/
#nav>ul>li>ul.sub {
    position: absolute;
    left: -20px;
    top: 45px;
    border: 2px solid #000;
    border-top: 0;

    display: none;
}

#nav>ul>li:hover>ul.sub {
    display: block;
}

#nav>ul>li>ul.sub>li {
    width: 100px;
    height: 45px;
    line-height: 45px;
}

#nav>ul>li>ul.sub>li>a {
    display: block;
    width: 100px;
    height: 45px;
    box-sizing: border-box;
    padding-left: 10px;

    color: #666;
    font-weight: bold;
    letter-spacing: -1px;
    background: rgba(255, 255, 255, 0.8);
}

#nav>ul>li>ul.sub>li>a:hover {
    background: #9acd28;
    color: #fff;
}

#header .menu-toggle-btn {
    display: none;
}

/*공통상단영역*/


/*메인화면*/
#main {
    width: 1020px;
    height: 450px;
    margin: 0 auto;
    position: relative;
}

#main ul {
    position: absolute;
    left: 0;
    top: 0;
}

#main ul li {
    width: 145px;
    height: 45px;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #555;

    color: #fff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: -1px;
    padding-left: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

#main ul li:hover {
    background: #000;
}


#banner {
    width: 1020px;
    height: 100px;
    margin: 50px auto;

}

#banner ul li {
    width: 500px;
    height: 100px;
    background: orange;
    display: inline-block;
    vertical-align: middle;
}

#banner ul li:nth-child(1) {
    background: #00d0ff url(../images/banner_bg1.jpg) no-repeat left center;

}

#banner ul li:nth-child(1) p {
    padding: 35px 0 0 240px;
    color: #014598;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -2px;
}

#banner ul li:nth-child(2) {
    margin-left: 14px;
    background: #f9d769 url(../images/banner_bg2.jpg) no-repeat right center;
}

#banner ul li:nth-child(2) p {
    padding: 35px 0 0 35px;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: -2px;
}

#banner ul li:nth-child(2) p span {
    color: #ff3330;
}


/*로그인배너*/
#login {
    width: 1020px;
    height: 100px;
    background: #f3f4f8;
    margin: 0 auto;
    text-align: center;
}

#login h2 {
    color: #333;
    font-size: 22px;
    letter-spacing: -1px;

    display: inline-block;
    vertical-align: middle;

    padding: 40px;
}

#login p.btn {
    display: inline-block;
    vertical-align: middle;
}

#login p.btn a {
    display: block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    background: #9bce27;
    border-radius: 10px;

    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
}

#section1 {
    width: 1020px;
    height: 550px;
    margin: 50px auto;
    text-align: center;
}

#section1 h2 {
    color: #333;
    font-size: 22px;
    letter-spacing: -1px;
    text-transform: uppercase;
}

#section1 ul li {
    width: 310px;
    height: 420px;
    border-radius: 20px;

    display: inline-block;
    vertical-align: middle;

    margin: 50px 10px;
}

#section1 ul li p.box {
    width: 310px;
    height: 290px;
    background: orange;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
#section1 ul li p.box:hover img {
    transform: scale(1.1);
    transition: 1s;
    cursor: pointer;
}

#section1 ul li p.txt1 {
    text-align: left;
    padding: 15px;

    color: #fff;
    font-size: 24px;
    letter-spacing: -2px;
}

#section1 ul li p.txt2 {
    text-align: left;
    padding: 5px 0 0 15px;

    color: #fff;
    font-size: 16px;
    letter-spacing: -1px;
}

#section1 ul li:nth-child(1) {
    background: #7bb8d7;
}

#section1 ul li:nth-child(2) {
    background: #f2b363;
}

#section1 ul li:nth-child(3) {
    background: #da9e9e;
}


/*오늘의 특가*/
#section2 {
    width: 1020px;
    margin: 0 auto;
    text-align: center;
}

#section2 h2 {
    font-family: 'BMDOHYEON';
    color: #333;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -1px;
}

#section2 h2 span {
    color: #dfe104;
}

#section2 ul {
    display: flex;
    justify-content: center;
}

#section2 ul li {
    width: 330px;
    height: 460px;
    background: #f6f6f6;
    border: 1px solid #ddd;
    margin: 20px 5px;
}

#section2 ul li img {
    width: 100%;
}

#section2 ul li p.pic:hover img {
    transform: rotateX(360deg);
    transition: 1s;
    cursor: pointer;
}

#section2 ul li p.txt1 {
    padding-top: 20px;

    font-size: 22px;
    letter-spacing: -2px;
    color: #333;
}

#section2 ul li p.txt2 {
    padding-top: 5px;

    font-size: 20px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #333;
}

#section2 ul li p.total1 {
    text-align: left;
    color: #777;
    font-size: 18px;
    letter-spacing: -1px;

    margin-left: 70px;
    margin-top: 15px;
}

#section2 ul li p.total1 span {
    background: #ccc;
    padding: 3px 10px 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 16px;

}

#section2 ul li p.total1 u {
    text-decoration: line-through;
}

#section2 ul li p.total2 {
    text-align: left;
    color: #ec474b;
    font-size: 26px;
    letter-spacing: -2px;
    font-weight: bold;

    margin-left: 70px;
    margin-top: 5px;

}

#section2 ul li p.total2 span {
    background: #ec474b;
    padding: 3px 10px 5px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -1px;
    font-size: 16px;
}

/*공통하단영역*/

/*카피라이트*/
#wrap_footer {
    width: 100%;
    height: 180px;
    background: #262626;
}

#footer {
    width: 1020px;
    height: 180px;

    margin: 50px auto 0;
}

#footer p.logo {
    padding: 30px 0 10px 40px;
}

#footer p.txt {
    padding-left: 40px;

    color: #bbb;
    font-size: 14px;
    letter-spacing: -1px;
    line-height: 1.7;
}

#footer p.txt span {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #aaa;
    margin: 0 5px;
}

#footer p.txt1 {
    display: none;
}


/*팝업배너*/
#popup {
    position: fixed;
    left:80%;
    top:300px;
    cursor: pointer;

    animation-name: popup;
    animation-duration: 7s;
    animation-iteration-count: infinite; /*무한반복*/
    animation-direction: alternate; 
    animation-timing-function: linear;
}

@keyframes popup {
    0% { transform: translateY(-30px);}
    100% { transform: translateY(0);}
}


/*-----------태블릿버전-----------*/
@media all and (max-width:1024px) {

    /*상단배너*/
    #wrap_top {
        display: none;
    }

    /*로고영역*/
    #header {
        width: 100%;
        height: auto;

        position: relative;
        line-height: 0;
    }

    #header h2 {
        display: block;
        text-align: center;
    }

    #header h2 img {
        width: 220px;
    }

    #header input[type="search"] {
        width: 230px;

        position: absolute;
        left: 20px;
        top: 30%;
        margin: 0;

        font-size: 11px;
    }

    #header select {
        width: 200px;

        position: absolute;
        right: 40px;
        top: 30%;
        margin: 0;

    }

    #header .menu-toggle-btn {
        display: none;
    }


    /*메뉴영역*/
    #wrap_nav {
        height: auto;
    }

    #nav {
        width: 100%;
        height: auto;
    }

    #nav ul {
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        /*박스 안에 자식 박스를 여러줄로 표시*/

    }

    #nav ul li:first-child {
        display: none;
    }

    #nav ul li {
        width: calc(100%/3);
        margin: 0;
        text-align: center;
        border: 1px solid #ddd;
        box-sizing: border-box;
    }

    #nav>ul>li:hover>ul.sub {
        display: none;
    }

    #main {
        width: 100%;
        height: auto;
        line-height: 0;
    }

    #main ul {
        display: none;
    }

    #main img {
        width: 100%;
        min-height: 200px;
    }


    /*2종배너*/
    #banner {
        width: 100%;
        margin: 30px auto;

    }

    #banner ul {
        display: flex;
    }

    #banner ul li {
        width: 50%;
    }

    #banner ul li:nth-child(1) {
        background-size: 50%;
    }

    #banner ul li:nth-child(1) p {
        font-size: 2.3vw;
        padding: 0;
        padding-left: 50%;
        padding-top: 8%;
    }


    #banner ul li:nth-child(2) {
        margin: 0;
        background-size: 45%;
    }

    #banner ul li:nth-child(2) p {
        font-size: 2.3vw;
        padding: 0;
        padding-left: 5%;
        padding-top: 8%;
    }


    #login {
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #login h2 {
        font-size: 2vw;
        letter-spacing: -2px;
        padding: 0;
    }

    #login p.btn a {
        width: 110px;
        height: 35px;
        line-height: 35px;
        background: #000;

        font-size: 1.8vw;
        margin-left: 40px;
    }


    #section1 {
        width: 100%;
        height: auto;
        margin: 30px auto;
    }

    #section1 h2 {
        display: none;
    }

    #section1 ul {
        display: flex;
    }

    #section1 ul li {
        width: calc(100%/3);
        height: 300px;
    }

    #section1 ul li p.box {
        width: 100%;
        height: 200px;
    }

    #section1 ul li p.box img {
        width: 100%;
        min-height: 200px;
    }


    #section1 ul li p.txt1 {
        padding: 10px 0 10px 15px;
        font-size: 2.5vw;
    }

    #section1 ul li p.txt2 {
        font-size: 1.4vw;
        padding: 0 0 10px 15px;
    }

    /*오늘의 특가*/
    #section2 {
        width: 100%;
    }

    #section2 h2 {
        display: none;
    }

    #section2 ul li {
        width: calc(100%/3);
        height: 350px;
    }

    #section2 ul li img {
        width: 100%;
        max-height: 180px;
    }

    #section2 ul li p.txt1 {
        padding-top: 10px;
        font-size: 1.8vw;
    }

    #section2 ul li p.txt2 {
        font-size: 1.6vw;
    }

    #section2 ul li p.total1 {
        font-size: 1.4vw;
        margin-top: 10px;
    }

    #section2 ul li p.total1 span {
        font-size: 1.4vw;
    }

    #section2 ul li p.total2 {
        font-size: 1.5vw;
        margin-top: 10px;
    }

    #section2 ul li p.total2 span {
        font-size: 1.5vw;
    }

    /*카피라이트*/
    #footer {
        width: 100%;
    }

    #footer p.logo img {
        width: 180px;
    }

    #footer p.txt {
        font-size: 12px;
        letter-spacing: -1px;
    }

    #footer p.txt1 {
        display: none;
    }

    #popup {
        display: none;
    }
}

/*태블릿끝*/


/*-----------모바일버전-----------*/
@media all and (max-width:768px) {

    #header input[type="search"] {
        display: none;
    }

    #header select {
        display: none;
    }

    #header .menu-toggle-btn {
        display: block;
        width: 20px;

        position: absolute;
        right: 30px;
        top: 40%;
        cursor: pointer;
    }

    #header .menu-toggle-btn span {
        display: block;
        width: 100%;
        height: 2px;
        background: #333;
    }

    #header .menu-toggle-btn span:nth-child(2) {
        margin: 5px 0;
    }

    #nav {
        display: none;
    }

    #nav.show {
        display: block;
    }


    #nav ul li {
        width: 100%;
        margin: 0;
        text-align: center;
        background: #000;
        border: 0;
        box-sizing: border-box;
    }

    #nav ul li a {
        color: #fff;
    }

    #banner {
        margin: 0;
    }

    #banner ul {
        flex-direction: column;
    }

    #banner ul li {
        width: 100%;
        height: 50px;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    #banner ul li:nth-child(1) {
        background: #00d0ff;
    }

    #banner ul li:nth-child(1) p {
        padding: 0;
    }

    #banner ul li:nth-child(2) {
        background: #f9d769;
    }

    #banner ul li:nth-child(2) p {
        padding: 0;
    }

    #login {
        height: 80px;
        background: #333;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    #login h2 {
        color: #fff;
        padding: 0;
    }

    #login p.btn a {
        width: 80px;
        height: 25px;
        line-height: 25px;
        border: 1px solid #fff;
        border-radius: 0;
        background: transparent;
        font-size: 2vw;
    }

    #section1 {
        margin: 0;
    }

    #section1 ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #section1 ul li {
        width: calc(100%/3);
        height: auto;

        border-radius: 0;
        margin: 0;
    }

    #section1 ul li p.box {
        border-radius: 0;
        height: 150px;
    }

    #section1 ul li p.box img {
        min-height: 150px;
    }

    #section1 ul li p.txt2 {
        padding-bottom: 15px;
    }

    /*오늘의 특가*/
    #section2 ul {
        flex-direction: row;
        flex-wrap: nowrap;
    }

    #section2 ul li {
        width: 100%;
        height: auto;
        margin: 0;
    }

    #section2 ul li img {
        max-width: 300px;
        max-height: 100px;
    }

    #section2 ul li p.pic {
        background: #fff;
    }

    #section2 ul li p.txt1 {
        display: none;
    }

    #section2 ul li p.txt2 {
        padding-top: 10px;
        font-size: 2vw;
    }

    #section2 ul li p.total1 {
        display: none;
    }

    #section2 ul li p.total2 {
        text-align: center;
        margin: 10px 0 15px;
        font-size: 1.8vw;

    }

    /*카피라이트*/
    #wrap_footer {
        height: 80px;
    }

    #footer {
        height: 80px;
        margin: 0;
        text-align: center;
    }

    #footer p.logo {
        padding: 0;
    }

    #footer p.txt {
        padding: 0;
        font-size: 8px;
        letter-spacing: 0;
        display: none;
    }

    #footer p.txt1 {
        display: block;
        font-size: 9px;
        color: #bbb;
    }

    #popup {
        display: none;
    }

}

/*모바일 끝*/